
{% comment %}
OVERVIEW
It's used to return data accordingly Family Model

Arguments
-----

family_objects - its family model QS or list

{% endcomment %}

<table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>No of sibling</th>
        <th>No of child	&lsquo;s</th>
        <th>No of grandparents</th>
        <th>No of cousins</th>
        <th>Edit</th>

      </tr>
    </thead>
    <tbody>
    {% for each_obj in family_objects %}
      <tr>
        <td>{{each_obj.first_name}}</td>
        <td>{{each_obj.last_name}}</td>
        <td>{{each_obj.email}}</td>
        <td>{{each_obj.mobile_number}}</td>
        <td>{{each_obj.get_siblings|length}}</td>
        <td>{{each_obj.get_children|length}}</td>
        <td>{{each_obj.grandparents|length}}</td>
        <td>{{each_obj.get_all_cousins|length}}</td>
        <td><a href="{{each_obj.get_update_url}}"><button class="btn btn-primary btn-sm mb-2">Edit</button></a><a href="{{each_obj.get_delete_url}}"><button class="btn btn-danger btn-sm">Delete</button></a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>